@{
    ViewBag.Title = "Home Page";
}
<main style="display: flex; align-items: flex-start; justify-content: center; height: 60vh;">
    <section class="row" aria-labelledby="title" style="margin-top: 50px;">
        <h1 id="title">Advanced Medical Imaging</h1>
        <p class="lead">Welcome to our advanced medical imaging application. Our application provides state-of-the-art medical imaging technology to help healthcare professionals diagnose and treat patients more effectively.</p>
    </section>
</main>
